<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  {% include head.html %}
  <body>
    {% include site-nav.html %}
    {% include back-to-top.html %}

    <div class="wrapper">
      {% include profile.html %}

      <main>
        {{ content }}

        {% if site.enable_last_update %}
        <small>Last Update:
          <script>
            const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            const modiDate = new Date(document.lastModified);
            document.write(modiDate.getDate() + ". " + monthNames[modiDate.getMonth()] + " " + modiDate.getFullYear());
          </script>
        </small>
        {% endif %}
      </main>

      {% include footer.html %}
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
